@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
    background:rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 97%;

  border-radius: 5px;

  position: fixed;

  overflow: hidden;
  background: rgb(255, 255, 255);
  padding: 15px;

  font-family: "Share Tech Mono", monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 20px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: auto;

  background: rgb(29, 173, 29);

  border-radius: 10px;
  border-color: rgb(29, 173, 29);
  border-style: solid;

  font-size: 15px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  box-shadow: 2px 2px 2px rgb(190, 190, 190);

  position: fixed;
  cursor: pointer;
}

.NavButton:hover {
    background-color: rgb(34, 206, 34);
}

.kanban {
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
}

.kanban-container {
  display: flex;
  flex-direction: row;
  padding: 100px 0 40px 10px;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #eee;
}

.kanban-column-header {
  padding: 10px;
  font-weight: bold;
  font-size: 0.875rem;
}

.kanban-column-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 10px 10px 0;
  list-style: none;
}

.kanban-column-footer {
  padding: 10px;
  font-size: 0.875rem;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.tile {
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.tile:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tile-informativo {
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(137, 255, 122);
  margin-bottom: 10px;
  cursor: pointer;
}

.tile-informativo:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tile-organizzativo {
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(87, 220, 253);
  margin-bottom: 10px;
  cursor: pointer;
}

.tile-organizzativo:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-add-tile {
  padding: 10px ;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(151, 255, 151);
  cursor: pointer;
  border-style: solid;
  border-color: rgb(97, 255, 97);
  font-family: "Raleway", sans-serif;
  width: 100%;
}

.btn-add-tile:hover {
  background-color: rgb(97, 255, 97);
}

.btn-delete-column {
  padding: 10px ;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 87, 75);
  cursor: pointer;
  border-style: solid;
  border-color: rgb(238, 37, 37);
  font-family: "Raleway", sans-serif;
  width: 100%;
}

.btn-delete-column:hover {
  background-color: rgb(238, 37, 37);
}

.btn-edit-column {
  padding: 10px ;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(169, 121, 248);
  cursor: pointer;
  border-style: solid;
  border-color: rgb(129, 58, 245);
  font-family: "Raleway", sans-serif;
  width: 100%;
}

.btn-edit-column:hover {
  background-color: rgb(129, 58, 245);
}

/* The popup form - hidden by default */
.form-popup-add-column {
  display: none;
  margin: auto;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #eee;
  padding: 20px;

  position:absolute;
  top:50%;
  left:50%;
  width:300px;  /* adjust as per your needs */
  height:250px;   /* adjust as per your needs */
  margin-left:-150px;   /* negative half of width above */
  margin-top:-125px;   /* negative half of height above */
}

.form-popup-add-tile {
  display: none;
  margin: auto;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #eee;
  padding: 20px;

  position:absolute;
  top:50%;
  left:50%;
  width:300px;  /* adjust as per your needs */
  height:300px;   /* adjust as per your needs */
  margin-left:-150px;   /* negative half of width above */
  margin-top:-150px;   /* negative half of height above */
}